div{
    width: 200px;
    height: 200px;
    background-color: red;
    transition: all 1s ease-in 0.5s;
    position:  relative;
    top: 100px;
    left: 100px;

}
div:hover{
    background-color: green;
    color: white;
    font-family: cursive;
    transform: scaleY(2);
    /* transform: scaleX(2); */

}